{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme implementation for a branding block.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% set attributes = attributes.addClass('flex', 'items-center', 'gap-4') %}
{% block content %}
  <div class="flex items-center gap-4">
    {% if site_logo %}
      <a href="{{ path('<front>') }}" rel="home" class="flex-shrink-0">
        <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" class="h-12 w-auto" fetchpriority="high"/>
      </a>
    {% endif %}
    {% if site_name or site_slogan %}
      <div class="flex flex-col">
        {% if site_name %}
          <div class="text-2xl font-bold">
            <a href="{{ path('<front>') }}" rel="home" title="{{ 'Home'|t }}" class="text-gray-900 hover:text-gray-700 no-underline">
              {{ site_name }}
            </a>
          </div>
        {% endif %}
        {% if site_slogan %}
          <div class="text-sm text-gray-600">{{ site_slogan }}</div>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endblock %}
